---
import Sun from "../../icons/hero/solid/sun.svg";
import Moon from "../../icons/hero/solid/moon.svg";
---

<button
  id="theme-toggle"
  class="theme-toggle"
  aria-label="Switch color scheme"
  onclick="toggleTheme()"
>
  <span class="theme-toggle-icon theme-toggle-sun">
    <Sun />
  </span>
  <span class="theme-toggle-icon theme-toggle-moon">
    <Moon />
  </span>
</button>