.fontchange-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.fontchange-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.1rem;
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  color: var(--color-text-primary);
  margin: 0;
}

.fontchange-btn:hover {
  transform: scale(1.1);
}


.fontchange-popover {
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 0.8rem;
  padding: 1rem;
  border-radius: 12px;
  font-size: 1rem;
  width: var(--fontchange-popover-width, 320px);
  z-index: 1000;

  opacity: 0;
  transform: translateX(-50%) translateY(-10px);
  transition: opacity 0.2s ease, transform 0.3s ease;
}

.fontchange-popover.visible {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

@media (max-width: 479px) {
  .fontchange-popover {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    width: 100%;
    margin: 0;
    border-radius: 20px 20px 0 0;

    transform: translateY(100%);
  }

  .fontchange-popover.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.fontchange-slider-container {
  padding: 0 4px;

}

.fontchange-slider {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: var(--color-border);
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  position: relative;
  z-index: 1;
}

.fontchange-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-text-primary);
  cursor: pointer;
  border: 6px solid var(--color-bg);
  position: relative;
  z-index: 2;
  font-size: 1rem;
}

.fontchange-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-text-primary);
  cursor: pointer;
  border: 6px solid var(--color-bg);
  position: relative;
  z-index: 2;
}

.fontchange-slider-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  font-family: var(--font-mono);
}

.fontchange-label {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.fontchange-label.active {
  font-weight: bold;
  background-color: var(--color-select-item-hover-bg);
}

.fontchange-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
  height: 45px;
  background-color: var(--color-select-item-hover-bg);
  border-radius: 10px;
}


