/* @font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/PretendardGOV-Medium.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/PretendardGOV-SemiBold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/PretendardGOV-ExtraBold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url("/fonts/CascadiaCode.woff2") format("woff2");
} */