@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/PretendardGOV-Medium.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/PretendardGOV-SemiBold.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/PretendardGOV-ExtraBold.subset.woff2) format("woff2");
}

@font-face {
  font-family: "General Sans";
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url(../fonts/general-sans-italic.woff2) format("woff2");
}

@font-face {
  font-family: "CascadiaCode";
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url(../fonts/CascadiaCode.woff2) format("woff2");
}

@font-face {
  font-family: "CascadiaCode";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/CascadiaCode.woff2) format("woff2");
}

@font-face {
  font-family: "CascadiaCode";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/CascadiaCode.woff2) format("woff2");
}

@layer components {
  :root {
    --astro-code-foreground: #3f3f46;
    --astro-code-background: #e8e8e9;
    --astro-code-token-function: theme(colors.zinc.500);

    --kbd-color: #cececf;
    --figcaption-bg: rgba(7, 6, 6, 0.1);
    --figcaption-color: currentColor;

    --astro-code-token-string: theme(colors.emerald.500);
    --astro-code-token-comment: theme(colors.blue.600);
    --astro-code-token-keyword: #c73a49;
  }

  .dark {
    --astro-code-foreground: #d4d4d8;
    --astro-code-background: #202022;
    --astro-code-token-function: theme(colors.zinc.200);

    --kbd-color: #525253;
    --figcaption-bg: rgba(255, 255, 255, 0.1);
    --figcaption-color: currentColor;
  }
}

.prose a {
  @apply break-words underline-offset-4 hover:text-blue-400 ;
}  
::-webkit-scrollbar {
  @apply w-3;
  
}
::-webkit-scrollbar-track {
  @apply bg-zinc-100 dark:bg-zinc-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-500 dark:bg-zinc-500;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400 dark:bg-zinc-400;
}

figcaption {
  margin-top: -30px !important;
  color: var(--figcaption-color) !important;
  text-align: center;
  font-style: italic;
  background-color: var(--figcaption-bg);
  
  border-radius: 0.25rem; /* 둥근 모서리 */
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

kbd {
  /* background-color: var(--kbd-color); */
  border-color: var(--kbd-color);
  vertical-align: 5%;
  border-width: 1px;
}

mark {
  /* background-color: var(--custom-light-dark); */
  background-color: inherit;
  color: #d95d5d;
  font-size: 1em;
  font-weight: 600;
}
/* .prose code:not(pre code) {
  text-decoration: #d95d5d wavy underline;
  text-underline-offset: 4px;
} */


/* 인라인 코드 스타일 */
/* .prose code:not(pre code) {
  color: #cc2323;
  font-family: inherit;
  font-size: 1em;
}
.dark .prose code:not(pre code) {
  color: #e94a3f;
} */

/* css 파일을 사용해 색상이 다른 blockquote 세로막대 구현 
웹만을 위함이라면 단순하고 편하지만 md 파일 내에 아래와 같은 div 코드를 삽입해야하므로 md 파일이 훼손됨, 해당부분(div)은 html 취급됨(예: 줄바꿈은 <br>)
<div class="warning">
  경고
</div> */

/*
.tip {
  padding-left: 1em;
  border-left-width: 4px;
  border-left-color: #22c55e;
}

.warning {

  padding-left: 1em;
  border-left-width: 4px;
  border-left-color: #ef4444;
} */
/* img {
  margin-top: 0.5em !important;
  margin-bottom: 1em !important;
} */
/* figcaption {
  margin: -10px !important;
  color: currentColor !important;
} */


/* body, pre, header {
  transition: background-color 0.5s ease;
}
 */




/* 폴백 애니메이션 */
/* @supports not (view-transition-name: none) {
  html:not([data-theme-transition]) {
    transition: background-color 0.3s ease-out;
  }
} */

/* 테마 전환 중 다른 애니메이션 비활성화 */
/* html[data-theme-transition] * {
  transition: none !important;
} */