@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/PretendardGOV-Medium.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/PretendardGOV-SemiBold.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/PretendardGOV-ExtraBold.subset.woff2) format("woff2");
} */

@font-face {
  font-family: "General Sans";
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url(../fonts/general-sans-italic.woff2) format("woff2");
}

@font-face {
  font-family: "CascadiaCode";
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url(../fonts/CascadiaCode.woff2) format("woff2");
}

@font-face {
  font-family: "CascadiaCode";
  font-style: italic;
  font-weight: 400 600;
  font-display: swap;
  src: url(../fonts/CascadiaCode.woff2) format("woff2");
}

@layer components {
  :root {
    --kbd-color: #cececf;
    --figcaption-bg: rgba(7, 6, 6, 0.1);
    --figcaption-color: currentColor;
    --mark-text-color: black;
    scrollbar-color: #c9c9c9 transparent;

    .astro-code,
    .astro-code span {
      /* color: var(--shiki-light) !important; */
      background-color: #f1f2f3 !important;
    }
  }

  .dark {
    --kbd-color: #525253;
    --figcaption-bg: rgba(255, 255, 255, 0.1);
    --figcaption-color: currentColor;
    --mark-text-color: light;
    scrollbar-color: #313131 transparent;

    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: #161515 !important;
    }
  }
}


figcaption {
  margin-top: -30px !important;
  color: var(--figcaption-color) !important;
  text-align: center;
  font-style: italic;
  background-color: var(--figcaption-bg);

  border-radius: 0.25rem; /* 둥근 모서리 */
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

kbd {
  border-color: var(--kbd-color);
  vertical-align: 5%;
  border-width: 1px;
}

mark {
  background-color: transparent;
  color: var(--mark-text-color);
  font-size: 1em;
  font-weight: bold;
}

li.task-list-item input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #c2c3c5; /* 빨간색 배경 */
  border-radius: 3px;
  /* cursor: pointer; */
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
}

/* 체크박스  */
li.task-list-item input[type="checkbox"]:checked {
  background-color: #c2c3c5;
}

li.task-list-item input[type="checkbox"]:checked::before {
  content: "✓";
  color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
}

/* 테이블 정렬 */
td[align="right"], th[align="right"] { 
  text-align: right; 
}
td[align="center"], th[align="center"] { 
  text-align: center; 
}

/* 테이블 세로줄 보이게 하려면*/
/* th:not([class]), td:not([class]) {
	border: 0.01rem solid currentColor;
} */