@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/PretendardGOV-Medium.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/PretendardGOV-SemiBold.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/PretendardGOV-ExtraBold.subset.woff2) format("woff2");
}

@font-face {
  font-family: "General Sans";
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url(../fonts/general-sans-italic.woff2) format("woff2");
}

@font-face {
  font-family: "CascadiaCode";
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url(../fonts/CascadiaCode.woff2) format("woff2");
}

@font-face {
  font-family: "CascadiaCode";
  font-style: italic;
  font-weight: 400 600;
  font-display: swap;
  src: url(../fonts/CascadiaCode.woff2) format("woff2");
}

@layer components {
  :root {
    --kbd-color: #cececf;
    --figcaption-bg: rgba(7, 6, 6, 0.1);
    --figcaption-color: currentColor;
    --mark-text-color: black;
    
    .astro-code, .astro-code span {
      /* color: var(--shiki-light) !important; */
      background-color: #ededed !important;
    }
  }

  .dark 
  {
    --kbd-color: #525253;
    --figcaption-bg: rgba(255, 255, 255, 0.1);
    --figcaption-color: currentColor;
    --mark-text-color:  white;

    .astro-code, .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
    }
  }
}

.prose a {
  @apply break-words underline-offset-4 hover:text-blue-400 ;
}  
::-webkit-scrollbar {
  @apply w-3;
  
}
::-webkit-scrollbar-track {
  @apply bg-zinc-100 dark:bg-zinc-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-500 dark:bg-zinc-500;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400 dark:bg-zinc-400;
}

figcaption {
  margin-top: -30px !important;
  color: var(--figcaption-color) !important;
  text-align: center;
  font-style: italic;
  background-color: var(--figcaption-bg);
  
  border-radius: 0.25rem; /* 둥근 모서리 */
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

kbd {
  border-color: var(--kbd-color);
  vertical-align: 5%;
  border-width: 1px;
}

mark {
  background-color: transparent;
  color: var(--mark-text-color);
  font-size: 1em;
  font-weight: 600;
}


.prose code:not(pre code) {
  @apply bg-custom-bg-dark text-custom-bg-light;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
}
.dark .prose code:not(pre code) {
  @apply bg-custom-bg-light text-custom-bg-dark;
}



/* css 파일을 사용해 색상이 다른 blockquote 세로막대 구현 
웹만을 위함이라면 단순하고 편하지만 md 파일 내에 아래와 같은 div 코드를 삽입해야하므로 md 파일이 훼손됨, 해당부분(div)은 html 취급됨(예: 줄바꿈은 <br>)
<div class="warning">
  경고
</div> */

/*
.tip {
  padding-left: 1em;
  border-left-width: 4px;
  border-left-color: #22c55e;
}

.warning {

  padding-left: 1em;
  border-left-width: 4px;
  border-left-color: #ef4444;
} */
/* img {
  margin-top: 0.5em !important;
  margin-bottom: 1em !important;
} */



/* @media (prefers-color-scheme: light) {

  }
} */
li.task-list-item input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #c2c3c5; /* 빨간색 배경 */
  border-radius: 3px;
  /* cursor: pointer; */
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
}

li.task-list-item input[type="checkbox"]:checked {
  background-color: #c2c3c5; /* 빨간색 배경 */
}

li.task-list-item input[type="checkbox"]:checked::before {
  content: "✓";
  color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
}