---
import HomeModernSolid from "../../icons/hero/solid/home-modern.svg";
import HomeModernOutline from "../../icons/hero/outline/home-modern.svg";
import FilmSolid from "../../icons/hero/solid/film.svg";
import FilmOutline from "../../icons/hero/outline/film.svg";
import InfoSolid from "../../icons/hero/solid/information-circle.svg";
import InfoOutline from "../../icons/hero/outline/information-circle.svg";
import TagsSolid from "../../icons/hero/solid/tags.svg";
import TagsOutline from "../../icons/hero/outline/tags.svg";
import SearchSolid from "../../icons/hero/solid/search.svg";
import SearchOutline from "../../icons/hero/outline/search.svg";
import ThemeToggle from "../features/colorscheme/ThemeToggle.astro";
import FontChange from "../features/font-change-preview.astro";
// import DescriptionToggle from "./DescriptionToggle.astro";
---

<div class="navbar-container">
  <header class="navbar-header">
    <div class="navbar-links">
      <a aria-label="home" href="/" class="navbar-icon">
        <div class="navbar-icon-svg">
          {Astro.url.pathname === "/" ? <HomeModernSolid /> : <HomeModernOutline />}
        </div>
      </a>
      <a aria-label="Film Ratings" href="/ratings" class="navbar-icon">
        <div class="navbar-icon-svg">
          {Astro.url.pathname.startsWith("/ratings") ? <FilmSolid /> : <FilmOutline />}
        </div>
      </a>
      <a aria-label="Tags" href="/tag" class="navbar-icon">
        <div class="navbar-icon-svg">
          {Astro.url.pathname === "/tag" || Astro.url.pathname === "/tag/" ? <TagsSolid /> : <TagsOutline />}
        </div>
      </a>    
      <a aria-label="search" href="/search" class="navbar-icon">
        <div class="navbar-icon-svg">
          {Astro.url.pathname.startsWith("/search") ? <SearchSolid /> : <SearchOutline />}
        </div>
      </a>            
      <a aria-label="Site Info" href="/site-info" class="navbar-icon">
        <div class="navbar-icon-svg">
          {Astro.url.pathname.startsWith("/site-info") ? <InfoSolid /> : <InfoOutline />}
        </div>
      </a>
  <FontChange />
    </div>
    <div class="theme-toggle-container">
      <ThemeToggle />
    </div>
  </header>
</div>