---
import { getCollection } from "astro:content";
import FeedItem from "components/feed-item.astro";
import Html from "components/html.astro";
import Nav from "components/navbar.astro";

const blogPosts = await getCollection("blog");
const draftPosts = await getCollection("draft"); // PROD에서는 빈 배열

const posts = [...blogPosts, ...draftPosts];
posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<Html title="mychatterbox" description="이런 것도 팁이 되나 싶은 정보들">
  <Nav />

  <main class="main-container">
    <ul class="feed-list article-container">
      {posts.map((entry) => <FeedItem entry={entry} />)}
    </ul>
  </main>
</Html>
