---
import Html from "components/layout/html.astro";
import Nav from "components/layout/navbar.astro";
import { Code } from 'astro:components';

const title = "사이트 정보";
const description = "이 블로그의 제작 배경, 기술 스택, 라이센스 및 출처에 대한 정보입니다.";
const pubDate = new Date("2025-01-02");
const draft = false; 

---

<Html
  title={title}
  description={description}
  pubDate={pubDate}
  ogType="article"
  robots={draft ? "noindex" : undefined}
>
  <Nav />
  <main class="main-container">
    <article class="article-container">
      <div class="article-header">
        <h1 class="title-xl">
          {title}
        </h1>
      </div>
      <div class="article-body">


<h3>라이센스</h3>

Except where otherwise noted, content on this site is licensed under 
        <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> <br>
Code snippets and the code for the site itself are 
        <a href="https://github.com/mrmcc3/vibing-dev/blob/main/LICENSE">MIT Licensed</a> <br><br>
        
원 제작자의 라이센스는 위와 같은데, 대략 콘텐츠는 건드리지 말고 코드는 알아서 잘 갖다쓰라는 의미인 것 같습니다. <br>
다만, 사이트 잘 보이는 곳에 원 제작자를 표시해야겠지요.   <br>
아마 github 에서 공개 설정으로 해두고 써야될걸요?  <br><br>

제 코드도 혹시라도 쓰실 분은 마음대로 갖다 쓰세요. <br>
폰트, 색상 설정은 global.css 파일을 수정하면 됩니다.  <br>

<h3>출처</h3>

  <ul>
    <li>Icons on the site are <a href="https://github.com/tailwindlabs/heroicons">heroicons</a> & <a href="https://tabler-icons.io/">tablericons</a></li>
    <li>Fonts are <a href="https://github.com/orioncactus/pretendard">Pretendard</a> and <a href="https://github.com/microsoft/cascadia-code">CascadiaCode</a></li>
    <li>Site is built using <a href="https://astro.build/">Astro</a></li>
  </ul>

from : <a href="https://github.com/mrmcc3/vibing-dev">https://github.com/mrmcc3/vibing-dev</a>  <br>
to : <a href="https://github.com/mychatterbox/chatter">https://github.com/mychatterbox/chatter</a>  <br>
</div>
    </article>
  </main>
</Html>