---
import { render } from "astro:content";

const { entry } = Astro.props;
const { id, data } = entry;
const { title, description, pubDate, kind } = data;

const { Content } = await render(entry);

// DEV에서만 draft 표시
const isDraft = entry.collection === "draft";
---

<li class="feed-item">
  <div class="article-header">
    <a class="title-link" href={`/${id}`}>
      <div class="title-main" transition:name={`title-${entry.id}`}>
        {title}
      </div>
    </a>

    <div class="article-meta text-small text-muted flex-wrap">
      {kind === "article" && (
        <a href="/kind/article" class="link-article">Article</a>
      )}
      {kind === "note" && (
        <a href="/kind/note" class="link-note">Note</a>
      )}

      <div>{pubDate.toISOString().slice(0, 10)}</div>

      {isDraft && <div class="text-draft">_____ Draft _____</div>}
    </div>
  </div>

  {kind === "article"
    ? <Fragment set:html={description} />
    : <Content />
  }
</li>
