---
import HomeModernSolid from "../icons/hero/solid/home-modern.svg";
import HomeModernOutline from "../icons/hero/outline/home-modern.svg";
import FilmSolid from "../icons/hero/solid/film.svg";
import FilmOutline from "../icons/hero/outline/film.svg";
import InfoSolid from "../icons/hero/solid/information-circle.svg";
import InfoOutline from "../icons/hero/outline/information-circle.svg";
import ThemeToggle from "../components/colorscheme/ThemeToggle.astro";
---

<div class="top-1 left-6">
  <header class="flex items-center justify-between">
    <div class="relative top-1 left-4 flex items-center space-x-4" >
      <a
        aria-label="home"
        href="/"
        class="flex items-center p-1 transition-all motion-reduce:transition-none sm:hover:motion-safe:scale-110" 
      >
        {Astro.url.pathname === "/" ? (
          <HomeModernSolid />
        ) : (
          <HomeModernOutline />
        )}
      </a>
      <a
        aria-label="Film Ratings"
        href="/my-ratings"
        class="flex items-center p-1 transition-all motion-reduce:transition-none sm:hover:motion-safe:scale-110"
      >
        {Astro.url.pathname.startsWith("/my-ratings") ? (
          <FilmSolid />
        ) : (
          <FilmOutline />
        )}
      </a>
      <a
        aria-label="Site Info"
        href="/site-info"
        class="flex items-center p-1 transition-all motion-reduce:transition-none sm:hover:motion-safe:scale-110"
      >
        {Astro.url.pathname.startsWith("/site-info") ? (
          <InfoSolid />
        ) : (
          <InfoOutline />
        )}
      </a>
    </div>
  </header>

  <div class="fixed top-1.5 right-4">
    <ThemeToggle />
  </div>
</div>