---
import HomeModernSolid from "../icons/hero/solid/home-modern.svg";
import HomeModernOutline from "../icons/hero/outline/home-modern.svg";
import FilmSolid from "../icons/hero/solid/film.svg";
import FilmOutline from "../icons/hero/outline/film.svg";
import InfoSolid from "../icons/hero/solid/information-circle.svg";
import InfoOutline from "../icons/hero/outline/information-circle.svg";
import ThemeToggle from "../components/colorscheme/ThemeToggle.astro";
---

<div class="navbar-container">
  <header class="navbar-header">
    <div class="navbar-links">
      <a
        aria-label="home"
        href="/"
        class="navbar-icon"
      >
        <div class="navbar-icon-svg">
          {Astro.url.pathname === "/" ? (
            <HomeModernSolid />
          ) : (
            <HomeModernOutline />
          )}
        </div>
      </a>
      <a
        aria-label="Film Ratings"
        href="/ratings"
        class="navbar-icon"
      >
        <div class="navbar-icon-svg">
          {Astro.url.pathname.startsWith("/ratings") ? (
            <FilmSolid />
          ) : (
            <FilmOutline />
          )}
        </div>
      </a>
      <a
        aria-label="Site Info"
        href="/site-info"
        class="navbar-icon"
      >
        <div class="navbar-icon-svg">
          {Astro.url.pathname.startsWith("/site-info") ? (
            <InfoSolid/>
          ) : (
            <InfoOutline/>
          )}
        </div>
      </a>      
    </div>

    <!-- theme-toggle-container를 navbar-header 내부로 이동 -->
    <div class="theme-toggle-container">
      <ThemeToggle />
    </div>
  </header>
</div>