
<div
  class:list={[
    "prose prose-zinc max-w-none dark:prose-invert",
    "prose-pre:rounded-md prose-pre:flex",
    "prose-pre:border-y prose-pre:border-zinc-400/20 prose-pre:sm:border-x",
    "prose-code:rounded prose-code:py-0.5 prose-code:px-1",  // 인라인 코드 스타일
    "prose-blockquote:bg-zinc-500/20 prose-blockquote:dark:bg-zinc-400",
    "prose-img:mx-auto prose-img:rounded-md",
  ]}
>
  <slot />
</div>
