<div
  class:list={[
    "prose max-w-none dark:prose-invert",
    "prose-pre:rounded-md prose-pre:flex",
    "prose-pre:border-y-2 prose-pre:border-zinc-400/10",
    "prose-pre:font-mono prose-pre:text-base",
    "prose-code:rounded prose-code:py-0.5 prose-code:px-0.5",
    "prose-blockquote:border-zinc-900 prose-blockquote:dark:border-zinc-100",
    "prose-img:mx-auto prose-img:rounded-md",
    "prose-code:before:content-[] prose-code:after:content-[]",
  ]}
>
  <slot />
</div>