<div
  class:list={[
    "prose prose-zinc max-w-none dark:prose-invert",
    "prose-pre:rounded-md prose-pre:flex",
    "prose-pre:border-y prose-pre:border-zinc-400/20 prose-pre:sm:border-x",
    "prose-pre:font-mono prose-pre:text-base",
    "prose-code:rounded prose-code:py-0.5 ",
    // "prose-blockquote:bg-zinc-100 prose-blockquote:dark:bg-zinc-900",
    // "prose-blockquote:text-white",
    "prose-blockquote:border-zinc-900 prose-blockquote:dark:border-zinc-100",
    "prose-img:mx-auto prose-img:rounded-md",
  ]}
>
  <slot />
</div>