---
import { getCollection } from "astro:content";
import FeedItem from "components/feed-item.astro";
import Html from "components/html.astro";
import Nav from "components/navbar.astro";

export async function getStaticPaths() {
  const pub = await getCollection("blog", ({ data }) => !data.draft);
  const kind = new Set(pub.map((entry) => entry.data.kind));
  return Array.from(kind).map((kind) => ({ params: { kind } }));
}

// 게시물을 가져오고 필터링 및 정렬
const pub = await getCollection("blog", ({ data }) => !data.draft);
const filteredPub = pub.filter((p) => p.data.kind === Astro.params.kind); // 필터링하여 새로운 변수에 저장
filteredPub.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<Html title="mychatterbox" description="이런 것도 팁이 되나 싶은 정보들">
  <Nav />
  <main class="px-4 pb-12">
    <ul class="mx-auto max-w-screen-lg font-medium">
      {filteredPub.map((entry) => <FeedItem entry={entry} />)} <!-- 필터링된 배열 사용 -->
    </ul>
  </main>
</Html>
