---
import { getCollection } from "astro:content";
import FeedItem from "components/feed-item.astro";
import Html from "components/html.astro";
import Nav from "components/navbar.astro";

export async function getStaticPaths() {
  const pub = await getCollection("blog", ({ data }) => !data.draft);
  const kind = new Set(pub.map((entry) => entry.data.kind));
  return Array.from(kind).map((kind) => ({ params: { kind } }));
}

const pub = await getCollection("blog", ({ data }) => !data.draft);
const filteredPub = pub.filter((p) => p.data.kind === Astro.params.kind);
filteredPub.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<Html title="mychatterbox" description="이런 것도 팁이 되나 싶은 정보들">
  <Nav />
  <main class="main-container">
    <ul class="feed-list article-container">
      {filteredPub.map((entry) => <FeedItem entry={entry} />)}
    </ul>
  </main>    
</Html>
